@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    font-family: 'Inter', sans-serif !important;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 14px;

  --color-button-text: #fff;
  --color-primary-100: rgba(29, 161, 242, 0.3);
  --color-primary-200: rgba(29, 161, 242, 0.4);
  --color-primary-300: rgba(29, 161, 242, 0.5);
  --color-primary-400: rgba(29, 161, 242, 0.6);
  --color-primary-500: rgba(29, 161, 242, 0.7);
  --color-primary-700: rgba(29, 161, 242, 0.8);
  --color-primary-800: rgba(29, 161, 242, 0.9);
  --color-primary-900: rgba(29, 161, 242, 1);
  --color-secondary-washed-out: rgba(101, 119, 134, 0.1);
  --color-secondary: rgba(101, 119, 134, 0.2);
  --color-dark: #15202B;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

html,
body,
#__next {
  background-color: var(--color-dark);
  color: var(--color-button-text);
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary-600); 
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  min-height: 100px;
  max-height: 350px;
}

::-webkit-resizer {
  display: none;
  background: var(--color-primary-700);
}

html {
  position: fixed;
}

#__next {
  overflow: auto;
}

.css-12jo7m5 {
  color: var(--color-button-text) !important;
}

.css-xb97g8:hover {  
  background: var(--color-primary-300) !important;
  color: var(--color-button-text) !important;
}

.dropdown {
  transform: translateX(-100%);
}

.w-full {
  width: 100%;
}

.emoji {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.icon:hover {
 background: rgba(0,0,0,0.3);
}

.bar-of-progress {
  z-index: 50;
}

.__react_component_tooltip::before,
.__react_component_tooltip::after {
  content: none !important;
}